body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 50px;
  background-color: #989ec5;
}

#box {
  width: 900px;
  height: 400px;
  background-color: white;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
